<div class="layout-wrapper">
  <header>
    <h1>Petshop Management System</h1>
  </header>
  <nav>
    <ul>
      <li><a routerLink="/solicitacoes" routerLinkActive="active">Solicitações</a></li>
      <li><a routerLink="/pets" routerLinkActive="active">Pets</a></li>
      <li><a routerLink="/tutors" routerLinkActive="active">Tutores</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Serviços</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
