<div>
  <!-- Título da lista de pets -->
  <h2>Pets Lista</h2>

  <!-- Lista de pets -->
  <ul>
    
    <!-- sobre a lista de pets e cria um item de lista para cada pet -->
    <li *ngFor="let pet of pets">
      <!-- Exibe o nome e a espécie do pet -->
      {{ pet.name }} ({{ pet.species }})
      <button class="edit" (click)="editPet(pet.id)">Alterar</button>
      <button class="delete" (click)="deletePet(pet.id)">Excluir</button>
    </li>
  </ul>
  <button class="add"routerLink="/pets/new">Novo Pet</button>
</div>
